{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}

<section>
    <div>
        <h1 class="text-center text-success">About page </h1>
        <p>Welcome to Your Resort, a premier vacation destination located in the peace area of Dublin.</p>
        <p>Our luxurious accommodations, beautiful surroundings, and exceptional service make us the perfect choice for your next getaway.</p>
        <p>At Your Resort, we pride ourselves on providing a world-class experience for our guests.</p>
        <p>Whether you're here for a romantic weekend, a family vacation, or a business trip, our team of friendly and knowledgeable staff is here to ensure that your stay is unforgettable.</p>
        <p>So why wait? Book your stay at Your Resort today and start experiencing the ultimate in relaxation and luxury.</p>
    </div>
</section>
{% endblock body %}